body {
  @include font-size(1rem);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-baseline);
}

p {
  line-height: var(--font-baseline);
  margin-bottom: var(--font-baseline);
}

h1,
h2,
h3,
h4,
h5 {
  transition: color 0.6s;
  color: var(--title-color);
  margin-bottom: var(--font-baseline);
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

small {
  font-size: 0.889em;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: calc(var(--space) / 2);
  color: var(--title-color);
}

em {
  font-style: italic;
}

ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: 0.6em;
  }
}
ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  li {
    margin-bottom: 0.6em;
  }
}
