@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin vertical-spacing($properties, $size, $multiplier: 1) {
  & {
    @each $property in $properties {
      #{$property}: calc((var(--font-baseline) - #{$size}) + var(--font-baseline) * #{$multiplier});
    }
  }
}

@mixin font-family($family: var(--font-family-heading)) {
  @if ($family == 'heading') {
    font-family: var(--font-family-heading);
  } @else {
    font-family: var(--font-family-body);
  }
}

@mixin outline-styles {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(---color-white);
  -webkit-text-stroke-width: 0.5px;
  // text-shadow: -1px 1px 0 var(--color-white), 1px 1px 0 var(--color-white),
  //   1px -1px 0 var(--color-white), -1px -1px 0 var(--color-white);
}

/*----------------

  Heading styles
  
----------------*/

@mixin heading-styles {
  @include font-family('heading');
  text-transform: uppercase;
}

@mixin paragraph-styles {
  @include font-family('body');
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  text-transform: none;
}

@mixin hero-title {
  @include heading-styles;
  font-size: var(--font-size-hero);
  line-height: var(--font-size-hero);
  font-weight: var(--font-weight-semibold);
}

@mixin heading-1 {
  @include heading-styles;
  font-size: var(--font-size-heading-1);
  line-height: var(--font-size-heading-1);
  font-weight: var(--font-weight-semibold);
}

@mixin heading-2 {
  @include heading-styles;
  font-size: var(--font-size-heading-2);
  line-height: var(--font-size-heading-2);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

@mixin heading-3 {
  @include heading-styles;
  font-size: var(--font-size-heading-3);
  line-height: var(--font-size-heading-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-size-heading-3);
}

@mixin heading-4 {
  @include heading-styles;
  font-size: var(--font-size-heading-4);
  line-height: var(--font-size-heading-4);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-size-heading-4);
}

@mixin heading-5 {
  @include heading-styles;
  font-size: var(--font-size-heading-5);
  line-height: var(--font-size-heading-5);
  font-weight: var(--font-weight-bold);
}

@mixin heading-6 {
  @include heading-styles;
  font-size: var(--font-size-heading-6);
  line-height: var(--font-size-heading-6);
  font-weight: var(--font-weight-bold);
}

@mixin body-xl {
  @include paragraph-styles;
  font-size: var(--font-size-body-xl);
}

@mixin body-l {
  @include paragraph-styles;
  font-size: var(--font-size-body-l);
}

@mixin body-m {
  @include paragraph-styles;
  font-size: var(--font-size-body-m);
}

@mixin body {
  @include paragraph-styles;
  font-size: var(--font-size-body);
}

@mixin body-s {
  @include paragraph-styles;
  font-size: var(--font-size-body-s);
}

@mixin body-xs {
  @include paragraph-styles;
  font-size: var(--font-size-body-xs);
}

@mixin body-xxs {
  @include paragraph-styles;
  font-size: var(--font-size-body-xxs);
}
